.step-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .field-label {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(77, 77, 77);
  }
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.4rem;
  border-radius: 1rem;
  color: rgb(77, 77, 77);
  border: .1rem solid #dcdfe599;
  background-color: #F7F8FA;
  font-size: 1rem;
}



.step-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  background: white;

  .p-button {
    height: 3.4rem;
    border-radius: 1rem;
    color: rgb(77, 77, 77);
    border: .1rem solid #dcdfe599;
    background-color: #F7F8FA;

    &.primary {
      background-color: #ff8b77;
      color: white;
    }
  }

  @media (min-width: 768px) {
    position: static;
    border-top: none;
    background: transparent;
    margin-top: 2rem;
  }
}
